[submodule "crm-backend"]
	path = crm-backend
	url = ../crm-backend.git
[submodule "crm-frontend"]
	path = crm-frontend
	url = ../crm-frontend.git
[submodule "keycloak/kc-groupid-mapper"]
	path = keycloak/kc-groupid-mapper
	url = ../kc-groupid-mapper.git
[submodule "krakend/swagger2krakend"]
	path = krakend/swagger2krakend
	url = ../swagger2krakend.git
[submodule "optimce-keycloak-theme"]
	path = optimce-keycloak-theme
	url = ../optimce-keycloak-theme.git
